#!/usr/bin/make -f

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

# control override rule for kernel release extended info
ifdef KERNEL_DEVELOPER_NAME
include /usr/share/linux-packaging-snippets/control-override-kernel-release-extended.mk
endif

include /usr/share/linux-packaging-snippets/kernel-snippet-clang-conf-advanced.mk

%:
	dh $@

#path-override-prepare:
	# Override to adapt aarch64 host compat.
	# Requires removing x86_64 python prebuilt from control
#	mkdir -p debian/path-override
#	ln -sf /usr/bin/python debian/path-override/python
#	ln -sf /usr/bin/python debian/path-override/python2
#	ln -sf /usr/bin/python debian/path-override/python2.7
