## Video and camera configs for vayu on Droidian

## Contiguous Memory Allocator
## It's important for camera
CONFIG_CMA=y
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CMA_AREAS=7
CONFIG_CMA_ALIGNMENT=8

## Qualcomm's legacy memory allocator for Android
## Legacy support for SurfaceFlinger, camera, gpu, display...
CONFIG_ION=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_ION_CMA_HEAP=y
CONFIG_ION_CARVEOUT_HEAP=y
# CONFIG_ION_CHUNK_HEAP is not set #legacy

## Camera support
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_SPECTRA_CAMERA=y
# CONFIG_MSM_CAMERA is not set
# CONFIG_MSMB_CAMERA is not set
CONFIG_MSM_VIDEOCC_SM8150=y
CONFIG_MSM_CAMCC_SM8150=y
# CONFIG_V4L2_LOOPBACK is not set

## video/drm/dsi configs
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_VIDEO_ADV_DEBUG=y
CONFIG_VIDEO_FIXED_MINOR_RANGES=y
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_DRM_MSM=y 
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_MSM_KCAL_CTRL=y
CONFIG_DRM_MSM_REGISTER_LOGGING=y
CONFIG_DRM_MSM_DSI_STAGING=y
CONFIG_DSI_PARSER=y
CONFIG_DRM_MIPI_DSI=y

## Disable legacy configs
# CONFIG_DRM_MSM_DSI is not set
# CONFIG_DRM_MSM_HDMI_HDCP is not set
# CONFIG_DRM_MSM_HDMI is not set
# CONFIG_DRM_MSM_MDP5 is not set
# CONFIG_DRM_MSM_MDP4 is not set
# CONFIG_DRM_MSM_HDCP is not set
# CONFIG_DRM_MSM_LEASE is not set
