## processor erratum workarounds
## Cortex-A57 erratum
CONFIG_ARM64_ERRATUM_832075=y
CONFIG_ARM64_ERRATUM_834220=y
## Cortex-A76 erratum
CONFIG_ARM64_ERRATUM_1286807=y
CONFIG_ARM64_ERRATUM_1188873=y
## qcomm specific
CONFIG_QCOM_FALKOR_ERRATUM_1003=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_QCOM_FALKOR_ERRATUM_1041=y
## common ARM64 workaround for TLBI issues
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=y
CONFIG_ARM64_ERRATUM_1188220=y
CONFIG_ARM64_ERRATUM_1542419=y
CONFIG_ARM64_WORKAROUND_828220=y
CONFIG_ARM64_WORKAROUND_CACHE_LOWERING=y
CONFIG_ARM64_WORKAROUND_BROKEN_IRQPRIO=y
