## Privacy
# CONFIG_ZRAM_MEMORY_TRACKING is not set

## CONFIG_SECURITY
## Apparmor is not used by Droidian,
## SELinux must be disabled or set to permissive to allow booting Droidian
# Default security
CONFIG_DEFAULT_SECURITY="selinux"
CONFIG_DEFAULT_SECURITY_SELINUX=y
# CONFIG_DEFAULT_SECURITY_APPARMOR is not set

## Enable securities
# CONFIG_SECURITY_APPARMOR is not set
CONFIG_SECURITY_SELINUX=y
## Security boot config
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=1
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=0
CONFIG_SECURITY_SELINUX_DEVELOPM=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y

## kernel runtime integrity verification
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_SIGNATURE=y
## AUDIT
CONFIG_AUDIT=y
CONFIG_AUDIT_GENERIC=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_AUDITSYSCALL=y
CONFIG_INTEGRITY_AUDIT=y
CONFIG_AUDIT_WATCH=y
CONFIG_AUDIT_TREE=y

## EVM
CONFIG_EVM=y
CONFIG_EVM_ATTR_FSUUID=y

## SECURITYFS
CONFIG_SECURITYFS=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_SECURITY_PATH=y
CONFIG_SECURITY_WRITABLE_HOOKS=y

## STATIC_USERMODEHELPER: improve usermode helpers security
## May break external helpers on Droidian, so disable for now
# CONFIG_STATIC_USERMODEHELPER is not set
# CONFIG_STATIC_USERMODEHELPER_PATH is not set

## Since the bootloader is unlocked
## Not trust bootloader as random seed
# CONFIG_RANDOM_TRUST_BOOTLOADER is not set

## Refocount support
CONFIG_REFCOUNT_FULL=y
# CONFIG_PANIC_ON_REFCOUNT_ERROR is not set

## Enable smack security
CONFIG_SECURITY_SMACK=y
# CONFIG_SECURITY_SMACK_BRINGUP is not set
# CONFIG_SECURITY_SMACK_NETFILTER is not set
# CONFIG_SECURITY_SMACK_APPEND_SIGNALS is not set
# CONFIG_DEFAULT_SECURITY_SMACK is not set

## Enable tomoyo security
CONFIG_SECURITY_TOMOYO=y
CONFIG_SECURITY_TOMOYO_MAX_ACCEPT_ENTRY=2048
CONFIG_SECURITY_TOMOYO_MAX_AUDIT_LOG=1024
# CONFIG_SECURITY_TOMOYO_OMIT_USERSPACE_LOADER is not set
CONFIG_SECURITY_TOMOYO_POLICY_LOADER="/sbin/tomoyo-init"
CONFIG_SECURITY_TOMOYO_ACTIVATION_TRIGGER="/sbin/init"
# CONFIG_DEFAULT_SECURITY_TOMOYO is not set
